!!! 5
%html
  %head
    - if Rails.env.production?
      = render 'layouts/google_analytics'
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title
      = content_for?(:title) ? yield(:title) : application_name
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    - if content_for?(:additional_css)
      = yield :additional_css
    = javascript_pack_tag 'application'
    - if content_for?(:additional_javascript)
      = yield :additional_javascript
  %body
    = render 'layouts/modal'
    #vue-app
      = render 'layouts/messages'
      = render 'layouts/header'
      .container
        = yield
      %footer.footer
        .content.has-text-centered
          %p
            © #{Date.current.year} mah-lab
